---
import { Header, Footer } from '@components/odyssey-theme';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';


export interface Props {
	seo?: BaseHeadProps;
}

import { nav } from '../config/nav.js';

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
		<div slot="action-item" class="header-info">
			<span class="zfi-system">ZFI SYSTEM</span>
		</div>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showPlug={settings.showPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>

<style>
	.header-info {
		display: flex;
		align-items: center;
	}
	
	.zfi-system {
		color: var(--theme-text-secondary);
		font-size: 0.75rem;
		letter-spacing: 1px;
	}
	
	@media (max-width: 600px) {
		.header-info {
			display: none;
		}
	}
</style>
